@media (max-width: 1145px){
.headerImgSecond img{
 position: absolute;
top: 38%;
}
.foodContainer .rightImg img {
  margin-top: 25px;
}
}
@media (max-width: 1137px){
.headerImgSecond img{
 position: absolute;
right: 0px;
top: 45%;
width: 55%;
}
}
@media (max-width: 1130px){
.headerImgSecond img{
 position: absolute;
right: 0px;
top: 400px;
width: 55%;
}
.giftContainer{
  padding: 90px 50px 50px 50px;
}
}

@media (max-width: 1076px){
  .infoContainer{
    display: block;
  }
.flexContainer{
  display: block;
}
.rightDescription .descriptionContainer{
  padding-left: 35px;
}
.leftDescription .descriptionContainer{
  text-align: left;
  padding-left: 35px;
  
  p{
    margin-left: 0px;
  }
  button{
    margin-bottom: 70px;
  }

}
.leftImg,
.rightImg{
  width: 70%;
}
.rightImg{
  margin-left: -50px;
}

}
  

@media (max-width: 957px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  .navigation nav ul li a{
    font-size: 16px;
  }
  .headerImgSecond img{
    position: absolute;
    right: 0px;
    top: 50%;
    width: 55%;
  
  }
}
  @media (max-width: 900px){
  .navigation h1{
    position: absolute;
    top: 10%;
    left: 7%;
  }
  .flexContainer {
    flex-direction: column;
    padding-bottom: 0px;
  }
  .flexItem {
      flex: 50%;
    }
    .headerImgContainer img {
      width: 100%;
      height: 450px;
    }
    .headerImgSecond img{
      position: absolute;
      right: 0px;
      top: 20%;
      width: 55%;
          }
    .headerImage{
      width: 100%;
      height: 60vh;
          }
    .giftContainer {
      background-color: #2b331b;
      text-align: center;
      padding: 50px 20px;
      h3{
        font-size: 45px;
      line-height: 60px;
      text-transform: uppercase;
      color: #ffd300;
      padding-top: 50px;
      }
    }
    .nature {
      padding: 50px 10px;
      background-color: #2b331b;
    }
    .natureImgContainer img {
      width: 100%;
      height: 100%;
    }
    .infoContainer {
      background-color: #2b331b;
      padding: 190px 30px 80px 30px;
    }
    .nature .textContainer {
      width: 100%;
      padding: 40px 20px;
      h3{
      font-size: 45px;
      line-height: 67.8px;
      text-transform: uppercase;
      color: #ffd300;
      }
    }
  
   
    .foodContainer .descriptionContainer {
      text-align: left;
      width: 100%;
      padding: 50px 20px;
    }

    .products h2 {
      color: #fff;
      font-size: 38px;
     line-height: 96px;
    }
    .foodSecond {
      padding-top: 5px;
    }
  
    .flex-item {
        flex: 50%;
    }
    .blogImage img{
        margin-top: 110px;
    }
    .flex-top .two-item{
        padding: 0px 20px;
    }
    .leftSide{
        padding-right: 8%;
    }
    .blogSide img{
        width: 88%;
    }
    .commentContent{
        flex: 3;
    }
    .commentImage img {
        width: 80px;
        height: 80px;
      }
      .employContent {
        padding: 60px 20px;
      }
      .contactMainContent{
        padding-top: 120px;
        .wrapper{
          padding: 5px;
        }
      }
      .contactRightContent {
        width: 80%;
        margin-top: -160px;
        padding-left: 0px;
}
.flexcontainer .burgerContainer{
  padding-bottom: 5px;
}
.natureImgContainer{
  width: 45%;
  img{
    width: 100%;
    height: 60vh;
  }
}
.natureTextContainer{
  width:66%;
  margin-left: 20px;
}
.blackButton{
  margin-top: 20px;
}
}
@media (max-width: 875px){
  .contactMainContent .wrapper {
  padding: 5px;
  padding-top: 120px;
}
}
@media (max-width: 859px){
  .checkbtn{
    display: block;
  }
  .navigation nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #222;
    top: 54px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 9999;
  }
  .navigation nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
    a{
      font-size: 20px;
    }
  }
 
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }

  .headerImgSecond img{
    position: absolute;
    right: 0px;
    top: 20%;
    width: 50%;
  
}
.headerImage{
  height: 40vh;
}
.flexContainer{
  padding-bottom: 0px;
}
}
@media (max-width: 858px){
.contactMainContent {
  padding-top: 285px;
}
}

@media (max-width: 887px){
  .contactMainContent {
  padding-top: 270px;
}
}

@media (max-width: 873px){
  .contactMainContent {
  padding-top: 150px;
}
}

@media (max-width: 853px){
  .contactMainContent {
  padding-top: 270px;
}
.products{
  padding-top: 100px;
}
}
// @media (max-width: 813px){
//   .headerImgSecond img {
//   top: 20%;
// }
// }
@media (max-width: 760px){
.rightDescription .descriptionContainer,
.leftDescription .descriptionContainer{
  text-align: left;
  padding-left: 30px;
}
  
  .infoContainer{
    padding-top: 0;
    text-align: center;
  }
  .products {
    padding-top: 50px;
    margin-bottom: 0px;
    text-align: left;

  }
  .foodImgContainer{
    width: 60%;
  }
  .foodContainer {
  position: relative;
}
.foodContainer .descriptionContainer p{
  margin-left: 0;
}
.rightImg img{
  position: relative;
  right: 0;
  bottom: 0;
}
.giftContainer p{
  padding: 0 30px 0 30px;
}

  .headerImgSecond img{
    top: 50%;
  }
  .contactMainContent .wrapper{
    display: block;
  }
  .contactLeftContent{
    width: 100%;
 
  }
  .contactRightContent{
    width: 100%;
    padding-top: 170px;
  }
  .nature .wrapper{
    display: block;
    .natureImgContainer{
      width: 100%;
    }
  }
  .nature .natureTextContainer {
     width: 100%;
     h3{
       padding-top: 20px;
     }
    }
    .giftContainer{
      text-align: left;
      padding-top: 40px;
      p{
        padding:0px
      }
    }

  .infoContainer {
  padding-top: 200px;

}
  
}
@media (max-width: 752px){
.headerImgSecond img {
  top: 30%;
}

}
@media (max-width: 1076px){
.headerImgSecond img {
  top: 40%;
}

}
@media (max-width: 520px){
  .headerImgSecond img {
  top: 30%;
  width: 60%;
}
}
@media (max-width: 460px){
  .headerImgSecond img {
  top: 35%;
  width: 60%;
}
  
  .commentContent{
    padding-left: 15px;
  }
  .infoContainer .products{
    text-align: left;
  }
  .rightDescription .descriptionContainer, 
  .leftDescription .descriptionContainer{
    text-align: left;
    padding-left: 30px;
  }
  .giftContainer .wrapper{
    text-align: left;
    h3{
      text-align: center;
    }
  }
  .giftContainer p{
    text-align: left;
    padding-left: 0px;
  }

  .nature .wrapper .natureTextContainer {
  width: 100%;
  text-align: left;
  padding-top: 70px;
  padding-left: 0px;
  h3{
    padding: 0px;
    text-align: left;
  }
}
.natureImgContainer img {
  width: 100%;
  height: 50vh;
}
.blogImg img {
  width: 100%;
  height: 65vh;
}
.employContent {
  padding: 60px 40px;
}
.giftContainer .blackButton {
  font-size: 18px;
  text-align: center;
}
 .nature .wrapper .blackButton {
  font-size: 18px;
  text-align: center;
}

  .blogImage img {
  width: 90%;
  display: block;
}
.employContent h4{
  font-size: 34px;
}
.comment{
  padding: 20px 20px;
  h5{
    font-size: 35px;
  }
}
.blogFlexContainer {
  font-size: 18px;
  display: block;
}

.blogFlexItem{
  padding: 24px 0px 10px 3px;
}
.contactFlexContainer{
  display: block;
}
.contactFlexItem{
  padding: 10px 0px 10px 0px;
}

.contactMainContent {
  padding-top: 0px;
}

}

@media (max-width: 450px){
  
.headerImgSecond img{
position: absolute;
right: 0px;
top: 38%;
width: 60%;
}
.headerImage h1{
  font-size: 40px;
}
.rightDescription .descriptionContainer,
.leftDescription .descriptionContainer{
  text-align: center;
  padding: 30px 10px;
}

.infoContainer .products{
  margin-bottom: 30px;
  h2{
    font-size: 36px;
  }
  p{
    padding: 0px;
  }
}
.foodContainer .descriptionContainer h5{
  font-size: 30px;
}
element {
  font-size: 20px;
}
.foodContainer button{
  font-size: 20px;
}
.giftContainer .wrapper{
  padding: 30px 10px;

  h3{
    font-size: 35px;
    text-align: left;
  }
  p{
    padding: 1px 0px;
  }
  .blackButton{
    font-size: 20px;
    text-align: center;
  }
}
.blogImg img{
  width: 100%;
  height: 75vh;
}
.contactSection .wrapper{
  display: block;
  padding: 10px 10px;
  .contactLeftContent{
    text-align: center;
    width: 100%;
    padding-top: 220px;
  }

  .contactSocial{
    padding-top: 60px;
    padding-left: 120px;

  }
  .contactContent{
    padding-top: 120px;
  }
}
.contactRightContent{

  width: 100%;
padding-top: 180px;
padding-left: 0px;
.contactCommentInput{
  padding: 25px 25px;
}
}
.nature .wrapper{
  display: block;
  .blackButton{
    font-size: 20px;
    text-align: center;
  }
  .natureTextContainer{
    width: 100%;
    text-align: left;
    h3{
    font-size: 35px;
    padding: 0px;
    text-align: left;
    }
  }
}
.natureImgContainer{
  width: 100%;
  height: 50vh;
}

}

@media (max-width: 380px){
  .headerImgSecond img {
  
  top: 52%;
  width: 60%;
}
.infoContainer .products h2 {
  font-size: 29px;
}
  .blogImage img {
  width: 80%;
}
.employContent h4{
  font-size: 34px;
}
.comment{
  padding: 20px 20px;
  h5{
    font-size: 35px;
  }
}
.blogFlexContainer {
  font-size: 18px;
  display: block;
}

.blogFlexItem{
  padding: 24px 0px 10px 3px;
}
.contactFlexContainer{
  display: block;
}
.contactFlexItem{
  padding: 10px 0px 10px 0px;
}
.contactSection .wrapper .contactLeftContent {
  padding-top: 0px;
}
.contactMainContent {
  padding-top: 10px;
}

.contactSection .wrapper .contactLeftContent {

  padding-top: 0px;
}
.contactRightContent {
  padding-top: 0px;
}

.contactSection .wrapper .contactSocial {
  padding-left: 95px;
}
.rightDescription .descriptionContainer,
.leftDescription .descriptionContainer{
  text-align: left;
}

}
@media (max-width: 360px){

  .headerImgSecond img{
    top: 52%;
  }
  .infoContainer .products{
    text-align: start;
    margin-right: 0px;
    padding-top: 20px;
  }
 .infoContainer .products h2 {
  font-size: 27px;
}
.blogFlexContainer {
  font-size: 18px;
  display: block;
}

.blogFlexItem{
  padding: 24px 0px 10px 3px;
}
.contactFlexContainer{
  display: block;
}
.contactFlexItem{
  padding: 10px 0px 10px 0px;
}
.commentTextArea{
  font-size: 18px;
}
footer p{
  font-size: 18px;
}
.nature .wrapper .natureTextContainer {
  width: 90%;
  padding-top: 60px;
  h3{
    font-size: 27px;
  }
}
.comment{
  padding: 20px 25px;
}

.foodContainer .descriptionContainer h5 {
  font-size: 27px;
}
.rightDescription .descriptionContainer p{
  margin: 0px;
  text-align: start;
}
.foodContainer .descriptionContainer p{
  text-align: start;
}
.giftContainer h3 {
  font-size: 30px;
}
p{
  font-size: 20px;
}

.flexTop{
  display: block;
}
.employContent {
  padding: 10px;
  h4{
    font-size: 35px;
  }
  p{
    font-size: 18px;
  }
}
.blogImage img{
  width: 90%;
}
.blogImg img {
  width: 100%;
  height: 70vh;
}
.contactSection .wrapper .contactLeftContent {
  text-align: center;
  width: 100%;
  padding-top: 130px;
}

.contactRightContent {
  margin-top: -80px;
  padding-top: 100px;
}
.contactCommentInput {
  box-shadow: 10px 10px 0px 0px #ffd300;

}
.contactRightContent .contactCommentInput {
  padding: 20px 10px;
  font-size: 18px;
}
.contactTextarea textarea {
  position: relative;
  height: 230px;
  margin-top: 20px;
  background-color: transparent;
  width: 100%;
}
}
@media (max-width: 340px){

  .contactMainContent {
  padding-top: 145px;
}
.contactRightContent {
  margin-top: 20px;
}

  .blogImage img {
  width: 80%;
}
.employContent {
  padding: 60px 15px;
  h4{
    font-size: 30px;
  }
}
.blogImage img {
  width: 80%;
}
.comment {
  padding: 20px 20px;
}
.commentInput {
  padding: 55px 12px;
}
element {
  font-size: 18px;
}
.blogFlexContainer {
  font-size: 18px;
  display: block;
}

.blogFlexItem{
  padding: 24px 0px 10px 3px;
}
.contactFlexContainer{
  display: block;
}
.contactFlexItem{
  padding: 10px 0px 10px 0px;
}
.commentTextArea{
  font-size: 18px;
}
.headerImage h1 {
  font-size: 35px;
}
.navigation h1{
  top: 7%;
}
.infoContainer .products {
  
  padding-top: 100px;
}

}
@media (max-width: 320px){
  .headerImgContainer img {
  width: 100%;
  height: 55vh;
}
.headerImgSecond img {
  top: 35%;
}
.checkbtn{
  margin-right: 13px;
}
.infoContainer {
  padding-top: 150px;
  .products h2{
    font-size: 25px;
    i{
      font-size: 20px;
    }
  }
}
footer p{
  font-size: 18px;
}

.contactSection .wrapper .contactLeftContent {
  text-align: center;
  width: 100%;
  padding-top: 120px;
}
.contactRightContent {
  padding-top: 100px;
}
.natureTextContainer{
  margin-left: 0px;
}
.commentContent .commentDate{
  font-size: 20px;
}
.commentContent p{
  font-size: 18px;
}
.comment h5{
  font-size: 30px;
}

.employContent {
  padding: 60px 15px;
  h4{
    font-size: 30px;
  }
}
.blogImage img {
  width: 80%;
}

.headerImage h1 {
  font-size: 35px;
}
.navigation h1{
  top: 7%;
}
.blogImage img {
  width: 90%;
}
}
