
.navigation nav{
  position: absolute;
  background: transparent;
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
.navigation nav ul{
text-align: left;
padding-left: 6%;

}
.navigation nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
.navigation nav ul li a{
  color: white;
  font-size: 19px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
}
.navigation nav ul li a.active{ 
  border-bottom: 2px solid #ffd300; 
  border-radius: 0px; 
  -webkit-border-radius: 0px; 
  -moz-border-radius: 0px; 
  -ms-border-radius: 0px; 
  -o-border-radius: 0px;
}
.navigation nav ul li a:hover{ 
  border-bottom: 2px solid #ffd300; 
  border-radius: 0px; 
  -webkit-border-radius: 0px; 
  -moz-border-radius: 0px; 
  -ms-border-radius: 0px; 
  -o-border-radius: 0px;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}